<style>
    div.new {
            font-size: 10px;
            color: cornflowerblue;
    }
    div.a {
        font-size: 20px;
    }
</style>


<h1 align="center">GROUP CHAT</h1>

<p>
    {% for i in m %}
       
            <div class="a"><b style="color: blueviolet;">{{i.writer}}</b>:<b>{{i.chattxt}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="new">{{i.time}}</div>
            <br><br><br>   
        
    {% endfor %}
</p>


<form action="{% url 'send' %}" method="POST" enctype="multipart/form-data">

<label>message:&nbsp;</label>
{{ txt.chattxt }}
{% csrf_token %}
<input type="submit" value="send">


</form>